[Unit]
Description=Restic backup service

[Service]
Type=oneshot
Nice=10
ExecStart=/usr/bin/sh ${RESTIC_BACKUP_DIRECTORY}/do-backup.sh

[Install]
WantedBy=default.target
